{% extends "base.html" %}
{% block title %}{{usr}}{% endblock %}
{% block content %}
<h1><center><a href="{{ url_for('rtp') }}">Click here for Real-Time-Price</a></center></h1>
<h1><center><a href="{{ url_for('quotes') }}">Click here for Quotes</a></center></h1>
<h1><center><a href="{{ url_for('ts') }}">Click here for Time-Series</a></center></h1>

<center>
  <table>
    <tr>
        <th>Datetime</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
    </tr>
    <tr>
        <td>{{data.datetime[0]}}<br><br>
            {{data.datetime[1]}}<br><br>
            {{data.datetime[2]}}<br><br>
            {{data.datetime[3]}}<br><br>
            {{data.datetime[4]}}<br><br>
            {{data.datetime[5]}}<br><br>
            {{data.datetime[6]}}<br><br>
            {{data.datetime[7]}}<br><br>
            {{data.datetime[8]}}<br><br>
            {{data.datetime[9]}}<br><br>
            {{data.datetime[10]}}<br><br>
            {{data.datetime[11]}}<br><br>
            {{data.datetime[12]}}<br><br>
            {{data.datetime[13]}}<br><br>
            {{data.datetime[14]}}<br><br>
            {{data.datetime[15]}}<br><br>
            {{data.datetime[16]}}<br><br>
            {{data.datetime[17]}}<br><br>
            {{data.datetime[18]}}<br><br>
            {{data.datetime[19]}}<br><br>
            {{data.datetime[20]}}<br><br>
            {{data.datetime[21]}}<br><br>
            {{data.datetime[22]}}<br><br>
            {{data.datetime[23]}}<br><br>
            {{data.datetime[24]}}<br><br>
            {{data.datetime[25]}}<br><br>
            {{data.datetime[26]}}<br><br>
            {{data.datetime[27]}}<br><br>
            {{data.datetime[28]}}<br><br>
            {{data.datetime[29]}}
        </td>
        <td>{{data.open[0]}}<br><br>
            {{data.open[1]}}<br><br>
            {{data.open[2]}}<br><br>
            {{data.open[3]}}<br><br>
            {{data.open[4]}}<br><br>
            {{data.open[5]}}<br><br>
            {{data.open[6]}}<br><br>
            {{data.open[7]}}<br><br>
            {{data.open[8]}}<br><br>
            {{data.open[9]}}<br><br>
            {{data.open[10]}}<br><br>
            {{data.open[11]}}<br><br>
            {{data.open[12]}}<br><br>
            {{data.open[13]}}<br><br>
            {{data.open[14]}}<br><br>
            {{data.open[15]}}<br><br>
            {{data.open[16]}}<br><br>
            {{data.open[17]}}<br><br>
            {{data.open[18]}}<br><br>
            {{data.open[19]}}<br><br>
            {{data.open[20]}}<br><br>
            {{data.open[21]}}<br><br>
            {{data.open[22]}}<br><br>
            {{data.open[23]}}<br><br>
            {{data.open[24]}}<br><br>
            {{data.open[25]}}<br><br>
            {{data.open[26]}}<br><br>
            {{data.open[27]}}<br><br>
            {{data.open[28]}}<br><br>
            {{data.open[29]}}
        </td>
        <td>{{data.high[0]}}<br><br>
            {{data.high[1]}}<br><br>
            {{data.high[2]}}<br><br>
            {{data.high[3]}}<br><br>
            {{data.high[4]}}<br><br>
            {{data.high[5]}}<br><br>
            {{data.high[6]}}<br><br>
            {{data.high[7]}}<br><br>
            {{data.high[8]}}<br><br>
            {{data.high[9]}}<br><br>
            {{data.high[10]}}<br><br>
            {{data.high[11]}}<br><br>
            {{data.high[12]}}<br><br>
            {{data.high[13]}}<br><br>
            {{data.high[14]}}<br><br>
            {{data.high[15]}}<br><br>
            {{data.high[16]}}<br><br>
            {{data.high[17]}}<br><br>
            {{data.high[18]}}<br><br>
            {{data.high[19]}}<br><br>
            {{data.high[20]}}<br><br>
            {{data.high[21]}}<br><br>
            {{data.high[22]}}<br><br>
            {{data.high[23]}}<br><br>
            {{data.high[24]}}<br><br>
            {{data.high[25]}}<br><br>
            {{data.high[26]}}<br><br>
            {{data.high[27]}}<br><br>
            {{data.high[28]}}<br><br>
            {{data.high[29]}}
        </td>
        <td>{{data.low[0]}}<br><br>
            {{data.low[1]}}<br><br>
            {{data.low[2]}}<br><br>
            {{data.low[3]}}<br><br>
            {{data.low[4]}}<br><br>
            {{data.low[5]}}<br><br>
            {{data.low[6]}}<br><br>
            {{data.low[7]}}<br><br>
            {{data.low[8]}}<br><br>
            {{data.low[9]}}<br><br>
            {{data.low[10]}}<br><br>
            {{data.low[11]}}<br><br>
            {{data.low[12]}}<br><br>
            {{data.low[13]}}<br><br>
            {{data.low[14]}}<br><br>
            {{data.low[15]}}<br><br>
            {{data.low[16]}}<br><br>
            {{data.low[17]}}<br><br>
            {{data.low[18]}}<br><br>
            {{data.low[19]}}<br><br>
            {{data.low[20]}}<br><br>
            {{data.low[21]}}<br><br>
            {{data.low[22]}}<br><br>
            {{data.low[23]}}<br><br>
            {{data.low[24]}}<br><br>
            {{data.low[25]}}<br><br>
            {{data.low[26]}}<br><br>
            {{data.low[27]}}<br><br>
            {{data.low[28]}}<br><br>
            {{data.low[29]}}
        </td>
        <td>{{data.close[0]}}<br><br>
            {{data.close[1]}}<br><br>
            {{data.close[2]}}<br><br>
            {{data.close[3]}}<br><br>
            {{data.close[4]}}<br><br>
            {{data.close[5]}}<br><br>
            {{data.close[6]}}<br><br>
            {{data.close[7]}}<br><br>
            {{data.close[8]}}<br><br>
            {{data.close[9]}}<br><br>
            {{data.close[10]}}<br><br>
            {{data.close[11]}}<br><br>
            {{data.close[12]}}<br><br>
            {{data.close[13]}}<br><br>
            {{data.close[14]}}<br><br>
            {{data.close[15]}}<br><br>
            {{data.close[16]}}<br><br>
            {{data.close[17]}}<br><br>
            {{data.close[18]}}<br><br>
            {{data.close[19]}}<br><br>
            {{data.close[20]}}<br><br>
            {{data.close[21]}}<br><br>
            {{data.close[22]}}<br><br>
            {{data.close[23]}}<br><br>
            {{data.close[24]}}<br><br>
            {{data.close[25]}}<br><br>
            {{data.close[26]}}<br><br>
            {{data.close[27]}}<br><br>
            {{data.close[28]}}<br><br>
            {{data.close[29]}}
        </td>
        <td>{{data.volume[0]}}<br><br>
            {{data.volume[1]}}<br><br>
            {{data.volume[2]}}<br><br>
            {{data.volume[3]}}<br><br>
            {{data.volume[4]}}<br><br>
            {{data.volume[5]}}<br><br>
            {{data.volume[6]}}<br><br>
            {{data.volume[7]}}<br><br>
            {{data.volume[8]}}<br><br>
            {{data.volume[9]}}<br><br>
            {{data.volume[10]}}<br><br>
            {{data.volume[11]}}<br><br>
            {{data.volume[12]}}<br><br>
            {{data.volume[13]}}<br><br>
            {{data.volume[14]}}<br><br>
            {{data.volume[15]}}<br><br>
            {{data.volume[16]}}<br><br>
            {{data.volume[17]}}<br><br>
            {{data.volume[18]}}<br><br>
            {{data.volume[19]}}<br><br>
            {{data.volume[20]}}<br><br>
            {{data.volume[21]}}<br><br>
            {{data.volume[22]}}<br><br>
            {{data.volume[23]}}<br><br>
            {{data.volume[24]}}<br><br>
            {{data.volume[25]}}<br><br>
            {{data.volume[26]}}<br><br>
            {{data.volume[27]}}<br><br>
            {{data.volume[28]}}<br><br>
            {{data.volume[29]}}
        </td>
    </tr>
      </tbody>
    </table>
</center>
  {% endblock %}